package main


const = `
<title></title>
<h1>Générateur de formulaire de remboursement</h1>
<script src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
{{.Name}}
<form action="/edit/" method="POST">
    Voyage:<input id="checkBox" name="Voyage" type="checkbox"><br>
    Description:<textarea name="description">%s</textarea><br>
    CodePerm  :<textarea cols="30" id="" name="CodePermm" rows="1"></textarea><br/>
    Nom       :<textarea cols="30" id="" name="Nom" rows="1"></textarea><br/>
    Prenom    :<textarea cols="30" id="" name="Prenom" rows="1"></textarea><br/>
    IsDepot   :<textarea cols="30" id="" name="IsDepot" rows="1"></textarea><br/>
    <br/>
    <b>Adresse du demandeur</b><br/>

    Rue       :<textarea cols="10" id="" name="Rue" rows="1"></textarea><br/>
    Ville     :<textarea cols="10" id="" name="Ville" rows="1" ></textarea><br/>
    CodePostal:<textarea cols="10" id="" name="CodePostal" rows="1"></textarea><br/>
    Province  :<textarea cols="10" id="" name="Province" rows="1"></textarea><br/>
    Courriel  :<textarea cols="10" id="" name="Courriel" rows="1"></textarea><br/>
    <hr>
    Description Achat :<textarea cols="10" id="" name="" rows="1"></textarea><br/>
    Montant    :<textarea cols="10" id="" name="" rows="1"></textarea><br/>

    <br/>
    <hr>
    <br/>
            Description Achat :<textarea cols="10" id="" name="" rows="1" row="1"></textarea><br/>
    Montant    :<textarea cols="10" id="" name="" rows="1" row="1"></textarea><br/>
    <br/>
    <input type="submit" value="Save">
</form>
`
